<div class="min-h-screen-without-navbar flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class='max-w-md w-full space-y-8'>
    <div>
      <div class='flex justify-center'>
        <div class='w-16 h-16 flex justify-center items-center bg-app-pink text-white font-happy-monkey text-xl rounded-full'>
          H&C
        </div>
      </div>
      <h2 class='mt-6 text-center text-3xl font-extrabold text-gray-900'>
        Sign Up
      </h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mt-8 space-y-6' }) do |f| %>
      <div class='rounded-md shadow-sm -space-y-px'>
        <div>
          <%= f.label :email, class: 'sr-only' %>
          <%= f.text_field :email, class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-app-pink focus:border-app-pink focus:z-10 sm:text-sm', placeholder: 'Email', required: true, autofocus: true, autocomplete: 'email' %>
        </div>
        <div>
          <%= f.label :password, class: 'sr-only' %>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-app-pink focus:border-app-pink focus:z-10 sm:text-sm', placeholder: 'Password' %>
        </div>
        <div>
          <%= f.label :password_confirmation, class: 'sr-only' %>
          <%= f.password_field :password_confirmation, class: 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-app-pink focus:border-app-pink focus:z-10 sm:text-sm', placeholder: 'Password confirmation' %>
        </div>
      </div>
      <div>
        <%= button_tag class: 'group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-app-pink hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-app-pink focus:ring-opacity-50' do %>
          Sign Up
          <span class='absolute left-0 inset-y-0 flex items-center pl-3'>
            <svg class='h-5 w-5 text-white-500' aria-hidden='true' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'>
              <path clip-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" fill-rule="evenodd"></path>
            </svg>
          </span>
        <% end %>
      </div>
    <% end %>
    <div>
      <div class='p-1 text-center rounded-md border border-app-pink'>
        You already have a profile?
        <%= link_to('Sign in', new_user_session_path, { class: 'font-medium text-app-pink hover:text-opacity-80  cursor-pointer' }) %>
      </div>
    </div>
  </div>
</div>
