<!DOCTYPE html>
<html>
  <head>
    <title>HugsAndCoffees</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-gray-50 font-roboto">
      <header class="w-full h-16 fixed top-0 z-10 bg-white shadow-md">
        <div class="max-w-7xl mx-auto">
          <div class="grid grid-cols-12 gap-1 px-4 h-16">
            <div class="col-span-3">
              <div class="h-full flex items-center">
                <div class="w-16 h-10 flex items-center justify-center rounded-md bg-app-pink font-happy-monkey text-white md:h-11">
                  H&C
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="mt-16 max-w-7xl mx-auto">
        <div class="grid grid-cols-12 gap-1 px-4">
          <main class="col-span-full">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
